.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: #ffffff;
  background-color: #4b565e;
  padding: 0px 240px;
}

.header-left {
  display: flex;
  align-items: center;
}

.button-users {
  background-color: transparent;
  color: #ffffff;
  border-color: rgba(240, 186, 78, 1);
  border-radius: 50px;
  border-width: 1px;
  border-style: solid;
  padding: 10px 20px;
  width: 90px;
  height: 48px;
  margin-right: 20px;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
}

.button-users:active {
  background-color: #4b565e;
}

.button-adminka {
  background-color: transparent;
  color: #ffffff;
  border-color: rgba(240, 186, 78, 1);
  border-radius: 50px;
  border-width: 1px;
  border-style: solid;
  padding: 10px 10px;
  height: 48px;
  margin-right: 10px;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
}

.button-adminka:active {
  background-color: #4b565e;
}

.button-todos {
  background-color: transparent;
  color: #ffffff;
  border-color: rgba(240, 186, 78, 1);
  border-radius: 50px;
  border-width: 1px;
  border-style: solid;
  padding: 10px 20px;
  height: 48px;
  margin-right: 20px;
  background: transparent;
  font-size: 16px;
}

.button-todos:active {
  background-color: #4b565e;
}

.header-logo {
  margin-right: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item {
  margin-right: 20px;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 16px;
}

.header-right {
  display: flex;
  align-items: center;
  height: 80px;
}

.header-right-item {
  color: #ffffff;
  text-decoration: none;
}

.header-right-item-heart {
  width: 24px;
  height: 24px;
  margin: 40px;
}

.icon {
  margin-right: 10px;
}

.button {
  background-color: transparent;
  color: #ffffff;
  border-color: rgba(240, 186, 78, 1);
  border-radius: 50px;
  border-width: 1px;
  border-style: solid;
  padding: 10px 20px;
  width: 90px;
  height: 48px;
  margin: 5px;
}

.button:active {
  background-color: #4b565e;
}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  color: #3c3c3b;
  background-color: #f0ba4e;
  padding: 0px 240px;
}

.basket {
  background-color: transparent;
  color: #ffffff;
  border-color: rgba(240, 186, 78, 1);
  border-radius: 50px;
  border-width: 1px;
  border-style: solid;
  padding: 10px 20px;
  width: 126px;
  height: 48px;
}

.basket:active {
  background-color: #4b565e;
}

.menu-left {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-nav-item {
  margin-right: 25px;
}

.katalog {
  padding-bottom: 10px;
}

.menu-logo2 {
  margin-right: 10px;
}

.menu-right {
  display: flex;
  align-items: center;
}

.sea {
  display: flex;
  box-sizing: border-box;
  width: 400px;
  height: 28px;
  border-bottom: 1px solid #000000;
}

.search {
  width: 375px;
  height: 28px;
  background: transparent;
  border: none;
  outline: none;
}

.moskwa {
  display: flex;
  gap: 5px;
  color: #ffffff;
}

.lupa {
  margin-bottom: 2px;
}
