
<div class="create-dialoge-modal">
  <h1>CREATE USER DIALOG</h1>

  <form style="display: flex; flex-direction: column"
    [formGroup]="form">

    <mat-form-field>
      <mat-label>Введите имя пользователя</mat-label>
      <input matInput formControlName="name">
      <mat-error>Некорректное значение</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Введите Email</mat-label>
      <input matInput formControlName="email">
      <mat-error>Некорректное значение</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Введите Wibsite</mat-label>
      <input matInput formControlName="website">
      <mat-error>Некорректное значение</mat-error>
    </mat-form-field>

    <div formGroupName="company">
      <mat-form-field>
        <mat-label>Введите company</mat-label>
        <input matInput formControlName="name">
        <mat-error>Некорректное значение</mat-error>
      </mat-form-field>
    </div>

    <button matTooltip="Создать Юзера" mat-raised-button
      color="primary"
      (click)="submitForm()"
      matIconSuffix [disabled]="form.invalid">Add User
      <mat-icon>add</mat-icon>
    </button>
  </form>
