.snap {
    border:1px solid #f0ba4e;
    border-radius:54px;
    height:35;
    width:150px;
    margin-left:30px;
}

.snap-1 {
    border:1px solid #f0ba4e;
    border-radius:54px;
    height:35;
    width:150px;
    margin-left:30px;
    margin-top: 15px;
}

.user-card {
    flex-direction: column;
    justify-content: center;
    width: 240px;
    height: 290px;
    margin: 10px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 25px;
}


